<!--HEADER SECTION -->

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CMCS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#introduction">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#submission">Submission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#submission">Collaboration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#submission">Efficiency</a>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" href="@Url.Action("Register", "Account")">Register</a> <!-- register button works -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" href="@Url.Action("Login", "Account")">Login</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>
