@model part_1.Models.login
 


<!-- calling the header view -->
<partial name="_Header" />

<!-- Main container for the login form -->
<div class="container h-100">
    <div class="login-card">
        <h1>Login</h1>
        <!-- Login form: posts user input to the Login action in the controller -->
        <form asp-action="Login" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input id="email" asp-for="email" type="email" placeholder="your email" />
                <span asp-validation-for="email" />
            </div>    
            

            <div class="form-group">
                <select id="role" asp-for="role">
                    <option style="color:#555" value="lecturer">Lecturer</option>
                    <option style="color:#555" value="programme coordinator">Program Coordinator</option>
                    <option style="color:#555" value="programme manager">Program Manager</option>
                </select>
                <span asp-validation-for="role" />
            </div>

            <div class="form-group password-container">
                <input asp-for="password" type="password" id="password" placeholder="your password" />
                <span asp-validation-for="password" />

            </div>


            <div class="field">
                <label style="color:red">@ViewBag.message</label>
                <br />
            </div>


            <button type="submit" class="btn-custom">Login</button>

        </form>
        <div class="links">
            <p><a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a></p>
            <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Register</a></p>
            <p><a asp-controller="Admin" asp-action="ProgramManager">Program Manager Dashboard</a></p>
            <p><a asp-controller="Admin" asp-action="ProgramCoordinator">Program Coordinator Dashboard</a></p>


        </div>
    </div>
</div>
